.container-principal {
    padding: 1rem;
    background-color: #f6f8fc;
    border-radius: 2rem;
    margin-top: 5rem !important;
}

.container-principal>h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder !important;
}

body {
    background-color: black;
}

@media (min-width: 992px) {
    .container-principal {
        max-width: 992px;
        margin: 0 auto;
    }
}